@page 
@model TasksTracker.WebPortal.Frontend.Ui.Pages.Tasks.IndexModel
@{
}

<h1>Tasks Manager</h1>
<h4>Tasks for (@Model.TasksCreatedBy)</h4>
<form method="post">
    <a asp-page="Create" class="btn btn-primary">Create New <i class="bi bi-plus-circle"></i></a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Due Date</th>
                <th>Assigned To</th>
                <th>Completed</th>
                <th>Overdue</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TasksList != null)
            {
                foreach (var task in Model.TasksList)
                {
                    <tr>
                        <td><a asp-page="./Edit" asp-route-id="@task.TaskId">@task.TaskName</a></td>
                        <td>@task.TaskDueDate.Date.ToString("dd-MM-yyyy")</td>
                        <td>@task.TaskAssignedTo</td>
                        <td>@Html.CheckBox("IsCompleted",@task.IsCompleted,(object)new { @disabled = "disabled" })</td>
                        <td>@Html.CheckBox("IsOverDue",@task.IsOverDue, (object)new { @disabled = "disabled" })</td>
                        <td>
                            <button type="submit" asp-page-handler="complete" asp-route-id="@task.TaskId" class="btn btn-primary"><i class="bi bi-check2-circle"></i> Complete</button>
                            <a class="btn btn-primary" download href="@Url.Page("Index", "DownloadFile", new { fileNameWithoutExtension = @task.TaskId })"><i class="bi bi-file-arrow-down"></i> Download</a>
                            <button type="submit" asp-page-handler="delete" asp-route-id="@task.TaskId" class="btn btn-danger"><i class="bi bi-x-circle"></i> Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
